# OPENAI API 配置
OPENAI_API_KEY=      # 可选
OPENAI_BASE_URL=     # 可选，用于本地部署或兼容服务
OPENAI_MODEL=        # 可选，覆盖默认模型名
OPENAI_MODEL_MIDDLE= # 可选，中等模型，解决稍微复杂的问题
OPENAI_MODEL_LOW=    # 可选，低级模型，解决简单问题
REPO=                # 可选，覆盖默认仓库地址   